﻿@{
	Layout = "~/Views/Shared/_Default.cshtml";
}

@{
	ViewBag.Title = "Tuis";
  ViewBag.PageHeader = "WELKOM BY SCRIPTURA";
}

<table style="width: 100%">
	<tr>
		<td style="text-align: center">(Scriptura - "geskrifte / dokumente / boeke")</td>
	</tr>
	<tr>
		<td style="text-align: center; font-size:16px;"><img src="~/Content/images/tree.png"/><br/><b>2 Timoteus 3 : 16, 17</b></td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td style="width: 10%">&nbsp;</td>
					<td>
						<table style="width: 100%">
							<tr>
								<td style="font-size: 16px; font-weight: bold; padding-top: 20px;">
									Doel van die webblad
								</td>
							</tr>
							<tr>
								<td style="padding-top: 20px; text-align: justify; padding-bottom: 20px;">
									Baie predikante en studente het studie- of werkstukke, en selfs preke, wat "nutteloos" in die argiewe lê. Hierdie webblad is juis 'n manier om 
									daardie dokumente toeganklik te maak vir lidmate van die Gereformeerde Kerk, of enige ander belangstellende. &apos;n Mens vind heelwat aanlyn-preke 
									en teologiese bronne, maar bittermin inligting uit Gereformeerde kringe. Hierdie webblad kan baie handig wees vir enigiemand wat meer inligting 
									wil bekom oor amper enige teologiese onderwerp.<br/><br/>
								</td>
							</tr>
							<tr>
								<td style="font-size: 16px; font-weight: bold; padding-top: 20px; border-top: 1px solid gray;">
									Hoe gebruik ek die webblad?
								</td>
							</tr>
							<tr>
								<td style="padding-top: 20px; text-align: justify; padding-bottom: 20px;">
									<p>Soek jou onderwerp deur gebruik te maak van die "Soek"-opsie bo-aan op die kieslys.</p>
									<p>Volg Scriptura op Twitter (<a href="https://twitter.com/Scriptura_web" target="_blank">&#64;Scriptura_web</a>)! <br/><br/>
										Sodra iets opgelaai word, verskyn dit as 'n Twitter "status update":<p/>
									<table style="width: 100%">
										<tr>
											<td style="text-align: center;">
												<a class="twitter-timeline" href="https://twitter.com/Scriptura_web" data-widget-id="526400379240476673">Tweets by &#64;Scriptura_web</a>
												<script>!function (d, s, id) {var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); }}(document, "script", "twitter-wjs");</script>
											</td>
										</tr>	
									</table>
									<br/>
									<p><i>EN....</i></p> 
									<table style="width:100%">
										<tr>
											<td>
												Sluit aan by die Facebook groep! (<a href="https://www.facebook.com/groups/1475630359393185/" target="_blank">Scriptura</a>)
											</td>
											<td>
												<div class="fb-like" data-href="http://www.scriptura.co.za" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td style="font-size: 16px; font-weight: bold; padding-top: 20px; border-top: 1px solid gray;">
									Vind nie waarvoor jy soek nie?
								</td>
							</tr>
							<tr>
								<td style="padding-top: 20px; text-align: justify; padding-bottom: 20px;">
									Maak gebruik van die Facebook "kommentaar-bokse" onderaan elke bladsy om vrae te vra of gesprekke te voer met ander.
								</td>
							</tr>						
							<tr>
								<td style="padding-top: 20px; padding-bottom: 20px; padding-top: 20px; border-top: 1px solid gray;">
									<table style="width: 100%">
										<tr>
											<td style="font-size: 16px; font-weight: bold;">
												Moderering en publisering van dokumente
											</td>
											<td rowspan="2" style="width: 10%; padding-left: 20px;">
												<a href="http://www.gksa.org.za/Tuis"><img src="~/Content/images/gksalogo.png" alt=""/></a>
											</td>
										</tr>
										<tr>
											<td style="text-align: justify;">
												(Geen dokument wat op hierdie webtuiste verskyn, word noodwendig deur die GKSA onderskryf nie.) 
												Besoek asseblief die "@Html.ActionLink("kontak", "Contact", "Home")" bladsy as jy meer wil weet 
												oor die moderering van die webblad, publisering van opgelaaide dokumente ensovoorts.
											</td>
											
										</tr>
									</table>
								</td>
							</tr>						
						</table>
					</td>
					<td style="width: 10%">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
