﻿@model Scriptura.Website.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_Default.cshtml";
}

@{
	ViewBag.Title = "Teken In";
  ViewBag.PageHeader = "Teken In om te begin oplaai";
}

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

  <table style="width: 100%" border="1">
    <tr><td colspan="3" style="padding: 8px;"></td></tr>
    <tr style="padding: 4px;">
      <td style="text-align: right">
        @Html.LabelFor(model => model.UserName)
      </td>
      <td style="text-align: center">:</td>
      <td>
        @Html.EditorFor(model => model.UserName, new { style = "width: 250px" })
        @Html.ValidationMessageFor(model => model.UserName)
      </td>
    </tr>
    <tr><td colspan="3" style="padding: 4px;"></td></tr>
    <tr style="padding: 4px;">
      <td style="text-align: right">
        @Html.LabelFor(model => model.Password)
      </td>
      <td style="text-align: center">:</td>
      <td>
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
      </td>
    </tr>
    <tr><td colspan="3" style="padding: 4px;"></td></tr>
    <tr style="padding: 4px;">
      <td style="text-align: right">
        @Html.LabelFor(model => model.RememberMe)
      </td>
      <td style="text-align: center">:</td>
      <td>
        @Html.CheckBoxFor(model => model.RememberMe)
        @Html.ValidationMessageFor(model => model.RememberMe)
      </td>
    </tr>
    <tr><td colspan="3" style="padding: 10px;"></td></tr>
    <tr style="padding: 4px;">
      <td style="text-align: right">
        <input id="btnSubmit" type="submit" value="Teken In"/>
      </td>
      <td>&nbsp;</td>
      <td>
        <input id="btnReset" type="reset" value="Herwin Wagwoord"/>
      </td>
    </tr>
  </table>
}
