﻿@model Scriptura.Website.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_Default.cshtml";
}

@{
	ViewBag.Title = "Registreer";
  ViewBag.PageHeader = "Registreer jouself op Scriptura";
}

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

  @Html.ValidationSummary(true)

  <table style="width: 100%" border="1">
    <tr><td colspan="3" style="padding: 8px;"></td></tr>
    <tr style="padding: 4px;">
      <td style="text-align: right; width: 49%">
        @Html.LabelFor(model => model.FullName)
      </td>
      <td style="width: 1%; text-align: center">:</td>
      <td>
        @Html.TextBoxFor(model => model.FullName, new { style = "width: 250px" })
        @Html.ValidationMessageFor(model => model.FullName)
      </td>
    </tr>
    <tr><td colspan="3" style="padding: 4px;"></td></tr>
    <tr style="padding: 4px;">
      <td style="text-align: right">
        @Html.LabelFor(model => model.Email)
      </td>
      <td style="text-align: center">:</td>
      <td>
        @Html.EditorFor(model => model.Email, new { style = "width: 250px" })
        @Html.ValidationMessageFor(model => model.Email)
      </td>
    </tr>
    <tr><td colspan="3" style="padding: 4px;"></td></tr>
    <tr style="padding: 4px;">
      <td style="text-align: right">
        @Html.LabelFor(model => model.Password)
      </td>
      <td style="text-align: center">:</td>
      <td>
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
      </td>
    </tr>
    <tr><td colspan="3" style="padding: 4px;"></td></tr>
    <tr style="padding: 4px;">
      <td style="text-align: right">
        @Html.LabelFor(model => model.ConfirmPassword)
      </td>
      <td style="text-align: center">:</td>
      <td>
        @Html.EditorFor(model => model.ConfirmPassword)
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
      </td>
    </tr>
    <tr><td colspan="3" style="padding: 10px;"></td></tr>
    <tr style="padding: 4px;">
      <td style="text-align: right">
        <input id="btnSubmit" type="submit" value="Registreer"/>
      </td>
      <td>&nbsp;</td>
      <td>
        <input id="btnReset" type="reset" value="Begin Oor"/>
      </td>
    </tr>
  </table>
}