﻿@font-face {
	font-family: 'Conv_Muli-Italic';
	src: url('./fonts/Muli-Italic.eot');
	src: url('./fonts/Muli-Italic.eot?#iefix') format('embedded-opentype'), url('./fonts/Muli-Italic.woff') format('woff'), url('./fonts/Muli-Italic.ttf') format('truetype'), url('./fonts/Muli-Italic.svg#Muli-Italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Muli-Regular';
	src: url('./fonts/Muli-Regular.eot');
	src: url('./fonts/Muli-Regular.eot?#iefix') format('embedded-opentype'), url('./fonts/Muli-Regular.woff') format('woff'), url('./fonts/Muli-Regular.ttf') format('truetype'), url('./fonts/Muli-Regular.svg#Muli-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
	font-family: 'Conv_Muli-Regular';
	font-size: 14px;
	background-color: #F4F4F4;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#wrapper {
	min-height:100%;
	position:relative;
}

#footer {
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	background:#ee5;
}

.input250 {
  width: 250px;
}