﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Scriptura</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<!-- Facebook SDK -->
	<div id="fb-root"></div>
	<script>(function (d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=261710613952912&version=v2.0";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
	<!-- End...Facebook SDK -->

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <img src="~/Content/images/tree-circle.png" style="width: 50px; height: 50px; padding: 8px"/>
      </div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("Scriptura", "Index", "Home", null, new { @class = "navbar-brand" })
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>@Html.ActionLink("Soek", "Index", "Search")</li>
          <li>@Html.ActionLink("Wie Is Ons", "About", "Home")</li>
          <li>@Html.ActionLink("Maak Kontak", "Contact", "Home")</li>
        </ul>
        @Html.Partial("_LoginPartial")
      </div>
    </div>
  </div>
  <div class="container body-content">
    <table style="width: 100%">
      <tr>
        <td style="width:100%; text-align: center; font-size: 20px; padding-top: 30px;">@ViewBag.PageHeader.ToString().ToUpper()</td>
      </tr>
      <tr>
        <td>
          @RenderBody()  
        </td>
      </tr>
    </table>
  </div>
  <hr />
  <footer>
    <table style="width: 100%">
      <tr>
        <td style="text-align: center">
          <span style="font-size: 10px;">&copy; @DateTime.Now.Year - Soft-Site (Pty) Ltd.</span>
        </td>
      </tr>
    </table>
  </footer>

	@Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>